@media (max-width:900px){

    .sidebar{
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 220px;
        transform: translateX(-260px);
        transition: transform .22s
    }
    .sidebar.open{
        transform: none;
    }

    .app{
        flex-direction: column;
    }

    .main{
        padding: 12px;
    }

    
}